__pycache__
.DS_Store

logs/FNO1d
logs/FNO1d_old
logs/FNO1d_noprecision
logs/symlie
logs/wandb
logs/store/P_old
logs/store/P

logs_org/
logs_old/
logs_symlie/
logs_symlie_copy/

jobs/slurm_output
jobs/slurm_output_noprecision
jobs/archive_slurm_output

data/*/train
data/*/val
data/*/test

data/mnist/
data/MNIST/*
data/MNIST/raw/
data/mathematica/

ext_repos/LPSDA/models
ext_repos/LPSDA/data
ext_repos/Equivariant-Net/data_*
ext_repos/Equivariant-Net/*.nc
ext_repos/Equivariant-Net/rbc_data.pt

ext_repos/G-FNO/results/
ext_repos/G-FNO/data/

ext_repos/e2cnn/mnist_rotation_new/

workbench.ipynb
workbench.py


logs/store/P/l4gvg6x7.npy
logs/store/P/gkxcwsca.npy
logs/store/P/2sf6rmgf.npy
logs/store/P/pibpnfoo.npy
logs/store/P/my5dv640.npy
logs/store/P/zh3z27b6.npy
logs/store/P/2555u0td.npy
logs/store/P/d7q3s8kq.npy
logs/store/P/m7wlqaz0.npy

logs/store/P_old