__pycache__
.DS_Store

logs/FNO1d
logs/FNO1d_old
logs/FNO1d_noprecision
logs/symlie
logs/wandb

logs_org/
logs_old/
logs_symlie/
logs_symlie_copy/

jobs/slurm_output
jobs/slurm_output_noprecision

data/*/train
data/*/val
data/*/test

data/mnist/
data/MNIST/*
data/MNIST/raw/
data/mathematica/

ext_repos/LPSDA/models
ext_repos/LPSDA/data
ext_repos/Equivariant-Net/data_*
ext_repos/Equivariant-Net/*.nc
ext_repos/Equivariant-Net/rbc_data.pt

ext_repos/G-FNO/results/
ext_repos/G-FNO/data/

ext_repos/e2cnn/mnist_rotation_new/

workbench.ipynb