__pycache__
.DS_Store

logs/FNO1d
logs/FNO1d_old
logs/FNO1d_noprecision

jobs/slurm_output
jobs/slurm_output_noprecision

data/*/train
data/*/val
data/*/test

ext_repos/LPSDA/models
ext_repos/LPSDA/data

ext_repos/G-FNO/results/
ext_repos/G-FNO/data/

ext_repos/e2cnn/mnist_rotation_new/