matplotlib
numba
numpy
scipy
tqdm
sympy
py-pde
torch
h5py
torch_geometric
torch-cluster
pytorch-lightning
tensorboard
xarray
tensorflow
e2cnn
torchvision
tabulate
opencv-python
netCDF4
rich
jax
objax
optax
plum-py
plum-dispatch
torchsummary
